*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color:rgb(238, 238, 238);
    color: #f1f1f1;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.hero{
    width: 100vw;
    height: 100vh;
    background: #3E5BD5;
    /* overflow: hidden; */

}

nav{
    width: 70%;
    margin: 0px auto;
    min-height: 8vh;
    /* background-color: aqua; */
}


a img{
    width: 22px;
    height: auto;
    transition: all 0.3ms ease-in-out;
}

a img:hover{
    transform: scale(1.08);
}

ul li{
    list-style: none;
    letter-spacing: 2px;
}

 nav .nav_div ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 700;
    color: #dddddd;
    transition: all .2s ease-in-out;
}

nav .nav_div ul li a:hover,
nav .nav_div ul li a.active{
font-size: 0.85em;
font-weight: 720;
color: #fff;
border-bottom: 2px solid rgba(28, 63, 219, .5);
}


.nav_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

 .nav_div h1{
    color: #f1f1f1;
    font-size: 1.7em;
    background-color: #1F3ECE;
    padding: 5px 12px;
    border-radius: 100%;
    cursor: pointer;

}
 .nav_links{
    display: flex;
    width: 45%;
    justify-content: space-between
}

.social_media{
    display: flex;
    justify-content: space-between;
    width: 13%;
    align-items: center;
}

.burger_menu div{
    width: 30px;
    height: 3px;
    background-color: #dddddd;
    margin: 5px;
    transition: all 0.3s ease-in-out;
}

.burger_menu{
    display: none;
}


.container{
    width: 70%;
    margin: 0 auto;
}

/* landing page */

.landingPage_images{
    margin-left: 50px;
}

.landingPage_images .landingPage_images__img{
    height: 330px;
    width: auto;
    z-index: 5;
    left: 20px;
    position: relative;
    top: 50px;
}

.landingPage_images .landingPage_images__div{
background-color: #fff;
height: 320px;
width: 300px;
border: 1px solid #fff;
overflow: hidden;
position: relative;
right: 5px;
bottom: 230px;

z-index: 2;
}

.landingPage{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    /* margin-left: 100px;
    margin-right: 100px; */
}

.landingPage_text .hireMe{
    padding: 10px 25px;
    border: none;
    background-color: #F99334;
    margin-top: 40px;
    font-size: 1.2em;
    font-weight: 250;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.landingPage_text .hireMe:hover{
transform: scale(1.02);
background: rgb(241, 184, 26);
font-weight: 400;
}

.landingPage_text{
    margin-top: 30px;
}

.landingPage_text h1{
    color: #fff;
    margin-right: 30px;
    line-height: 1.5em;
    font-size: 2.8rem;
    font-weight: 700;
    text-decoration-line: underline;
}


/* about section */

.about_section{
    background-color: rgb(238, 238, 238);
}

.about_header{
    margin-top: 100px;
    width: 400px;
    margin-right: auto;
    margin-left: 5px;
}

.about_title_div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
}

.about_title_div .about_h1{
    font-size: 0.9em;
    font-weight: 600;
    color: #F99334;
    text-transform: uppercase;
}

.about_title_div .about_line{
    width: 25px;
    height: 1px;
    background-color: #F99334;
    margin-right: 15px;
}

.about_header h2{
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #2A3871;
    padding: 5px 0;
    margin-bottom: 5px; 
}

.about_container{
    display: flex;
    justify-content: space-between;
}

.about_img{
    height: 400px;
    width: auto;
    padding: 5px;
    margin-top: 30px;
}

.about_line_div_one{
    width: 0.9px;
    height: 170px;
    background-color: #F99334;
    position: relative;
    z-index: 5;
    bottom:175px;
}

.about_line_div_two{
    height:0.9px;
    width: 170px;
    background-color: #3E5BD5;
    position: relative;
    z-index: 6;
    bottom:175px;
}

.about_list_container{
    margin-left: 80px;
    padding: 5px;
    margin-top: 50px;
}

.about_container .about_list_container p{
    color: #2A3871;
    font-size: 0.9em;
    font-weight: 450;
    line-height: 2.2em;
    margin: 10px;
}

.about_container .about_list_container p a{
    text-emphasis: none;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 550;
    color: #2A3871;
    padding: 3px;
    transition: all 0.2s ease-in;
}



.about_container .about_list_container p a:hover,
.about_container .about_list_container p a.active{
    font-weight: 700;
    color: #2A3871;
    padding: 3px;
    border-bottom: 2px solid #F99334;
    transform: scale(1.3);
}

.about_list{
    display: flex;
    justify-content: flex-start;
}

.about_list_line{
    width: 100px;
    height: .5px;
    background-color: #F99334;
    position: relative;
    z-index: 3;
    right: 110px;
    top: 23px;
}

.about_list_container button.btn1,
.about_list_container button.btn2{
    margin-left: 10px;
    padding: 10px 30px;
    font-size: 0.8em;
    font-weight: 300;
    color: #F99334;
    background-color: #fff;;
    border: 1px solid #F99334;
    box-shadow: 0px 0px 3px 3px rgba(249, 147,52, .3);
    transition: all 0.3s ease-in-out;
    
}

.about_list_container button.btn1:hover,
.about_list_container button.btn2:hover{
    margin-left: 10px;
    padding: 10px 30px;
    font-size: 0.85em;
    font-weight: 500;
    color: #dddddd;
    background-color: #F99334;;
    border: 1px solid #F99334;
    box-shadow: 0px 0px 3px 3px rgba(249, 147,52, .3);
    transform: scale(1.01);
}


/* services section */

.services_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.two{
    padding-top: 0px;
    margin-top: -100px;
}

.services_container div{
    width: 300px;
    height: auto;
    padding: 20px;
    margin-top: 40px;
    border-top: 3px solid rgba(135, 158, 252, 0.3);

}

.services_container h1{
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    color: #F99334;
}

.services_container h3{
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 8px;
    text-transform: capitalize;
    color: #3E5BD5;

}

.services_container p{
    color: #2A3871;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 2.2em;
}

.plus_btn{
    font-size: 2.5em;
    font-weight: 100;
    color: #fff;
    padding: 0px 16px;
    border: none;
    background-color:  rgba(135, 158, 252, 0.8);
    margin-top: 20px;
    margin-left: 70%;
}

.active_btn{
   background-color:  rgba(252, 135, 160, 0.8);
}

.services_container .design_1{
    border-top: 3px solid rgba(252, 135, 160, 0.3);
}

.services_container .design_2{
    border-top: 3px solid rgba(252, 135, 160, 0.8);
}

.services_container .development{
    border-top: 3px solid rgba(66, 0, 52, 0.2);
}

.services_container .management{
    border-top: 3px solid rgba(66, 0, 52, 0.5);
}

.services_container .html{
    border-top: 3px solid rgba(66, 0, 52, 0.1);
}

/* projects */

.projects_container{
    background-color: #f2f2f2;;
    /* padding: 5px; */
}

.project{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects_container img{
    width: 500px;
    height: auto;
    padding: 5px;
}

.projects_container .about_header_projects{
    padding: 10px;
}

.project_text_div{
    width: 500px;
    height: auto;
    /* background: #3E5BD5; */
    padding: 5px;
    text-align: right;
}

.project_h2{
color: #F99334;
font-size: 1.1em;
font-weight: 700;
padding: 10px;
border-bottom:2px solid rgb(255, 92, 173, .3);
}

.project_h4{
    font-size: 1.3em;
    font-weight: 500;
    color: #3E5BD5;
    padding: 15px;
}

.project_btn{
    border: 1px solid #F99334;
    text-align: center;
    font-weight: 500;
    font-size: .9em;
    padding: 15px 25px;
    color: #F99334;
    background-color: #f1f1f1;
    margin: 20px 20px 0px 20px;
    transition: all .2s ease-in;
}

.project_btn:hover{
    transform: scale(1.02);
    font-weight: 600;
    box-shadow: 0px 0px 4px 4px rgba(249, 147,52, .2);
}

.project_arrow_icons{
    display: inline;
    text-align: center;
    margin-top: 10px;
}

img.arrow_left{
    width: 30px;
    height: auto;
}

img.arrow_right{
    width: 30px;
    height: auto;
}

/* testimonial section */

.testimonial_text h3{
    font-size: 0.9em;
    text-transform: capitalize;
    font-weight: 600;
    color: #1F3ECE;
    padding: 4px;
}

.testimonial_text h4{
    font-size: 0.8em;
    font-weight: 500;
    color: rgb(107, 129, 218);
    letter-spacing: 2px;
    padding: 4px;
}

.testimonial_text p{
    font-size: .9em;
    font-weight: 500;
    color: #3E5BD5;
    line-height: 1.8em;
    padding: 4px;
}

.testimonial_img{
    width: 300px;
    height: auto;
}

.testimonial_arrow_icons{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.testimonials_section .testimonial_content{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
}

/* blog section */

.blog_div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.article_container{
    width: 300px;
    height: 290px;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 3px 3px rgba(70, 74, 87, 0.1);
    margin-top: 50px;
    color: #2A3871;
}

#article_container_last{
background-color: #4CD6F2;
color: #f1f1f1;
}
.article_title{
    padding: 5px;
    margin-top: 9px;
}

.article_title1{
    border-left: 7px solid rgb(255, 104, 129,.5);
}

.article_title2{
    border-left: 7px solid rgba(4, 107, 204, 0.9);
}

.article_title3{
    border-left: 8px solid rgba(255, 255, 255, 0.8);
}

.article_title h2{
    font-size: 0.8em;
    font-weight: 800;
    text-transform: capitalize;
    padding: 5px;
}

.article_title h2 span{
    font-weight: 400;
}

.article_title h3{
    padding: 5px;
    margin-top: 3px;
    font-size: 0.85em;
    font-weight: 600;
    text-transform: capitalize;
    color: rgba(133, 156, 250, 0.753);
}

.article_title h3.last_h3{
    font-weight: 500;
    text-transform: capitalize;
    color: #f2f2f2;
}

.article_container h4{
    font-size: .9em;
    font-weight: 600;
    line-height: 1.5em;
    padding: 15px;
    margin-top: 20px;
}

.article_container h4{
    font-weight: 550;
    line-height: 1.5em;
}

.article_container h4.last_h4{
    font-weight: 650;
    text-decoration: underline;
}

.article_container h5{
    font-size: .9em;
    font-weight: 400;
    line-height: 1.5em;
    padding: 16px;
    margin-top: 2px;
    color: rgba(133, 156, 250, 0.753);
}

.article_container h5.last_h5{
    color:#f2f2f2;
}

.blog_icon{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.contact{
    width: 100%;
    height: 150px;
    background-color: #3E5BD5;
    border-radius: 8px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.h4{
    font-size: 1.05em;
    text-align: center;
    font-weight: 550;
    padding: 5px;
    padding-top: 40px;
    margin-top: 10px;

}

.email_div{
    text-align: center;
    padding: 2px;
    margin-top: 20px;
    border-bottom: 3px solid #f2f2f2;
    width: 203px;
    margin-left: auto;
    margin-right: auto;

}

.email_div a{
    text-decoration: none;
    color: #f2f2f2;
    font-size: 1.2em;
    font-weight: 700;
}

/* footer */

.footer{
    background-color: #b4b4b4;
    padding: 10px;
    border-radius: 6px 6px 0 0;
}

.footer_link{
    display: flex;
    justify-content: center;
}
.footer_link a{
    margin: 10px 5px;
    text-decoration: none;
    color: #3a4862;
    font-size: .85em;
    font-weight: 450;
}

.footer_social{
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-top: 15px;
    align-items: center;
}
.footer_social a img{
    margin: 2px 7px;
    width: 18px;
    height: auto;
}

.copyright{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.copyright p{
    font-size: 0.8em;
    font-weight: 500;
    color: #495468b9;
}

.copyright ul{
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.copyright ul li{
    font-size: 0.75em;
    font-weight: 500;
    color: #495468b9;
}



@media screen and (max-width:1024px){
nav{
    width: 90%;
}
 .nav_links{
    width: 45%;
}
.container{
    width: 90%;
}

.landingPage_text h1{
    color: #fff;
    margin-right: 10px;
    line-height: 1.5em;
    font-size: 2rem;
    font-weight: 600;
    text-decoration-line: underline;
}

.project{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.project_arrow_icons{
    display: inline;
    text-align: center;
    margin-left: 190px;
}

.blog_div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav_div h1{
    padding: 2px 9px;
}



}

@media screen and (max-width:768px){

    .container{
        width: 85%;
    }


    .landingPage_text .hireMe{
        margin-top: 30px;
    }

nav{
    width: 100%;
}
.nav_div{
    justify-content: space-around;
}

.social_media{
    width: 18%;
}

a img{
    width: 19px;
    height: auto;

}

.nav_div h1{
    color: #f1f1f1;
    font-size: 1.8em;
    background-color: #1F3ECE;
    padding: 2px 9px;
    border-radius: 100%;
    cursor: pointer;
}

 .nav_links{
        position: absolute;
        right:0px;
        height: 88vh;
        width: 100vw;
        top: 12vh;
        background:rgb(77, 107, 228);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
        z-index: 10;
    }

    .nav_links li{
        opacity: 0;
    }

    .burger_menu{
        display: block;
    }

    .landingPage{
        display: block;
    }

    .landingPage_text{
        margin-right: 5px;
        position: relative;
        z-index: 6;
        top: 150px;
        text-align: left;
        padding: 12px;
    }

   .landingPage_images .landingPage_images__div{
    background-color: #1F3ECE;
    height: 320px;
    width: 300px;
    border: 1px solid #1F3ECE;
    overflow: hidden;
    position: absolute;
    right: 8%;
    top:250px;
    z-index: 2;
    }

    .landingPage_images .landingPage_images__img{
        position: absolute;
        z-index: 4;
        height: 400px;
        width: auto;
        top:135px;
        left: 45%;
    }

    .landingPage_text h1{
        color: #fff;
        margin-right: 10px;
        line-height: 1.5em;
        font-size: 1.9rem;
        font-weight: 700;
        text-decoration-line: underline;
    }

    .about_container{
        display: block;
    }
    .about_list_container{
        margin-top: -150px;
        margin-left: 5px;
        text-align: center;
        padding: 5px;
    }

    .about_list{
        margin-top: 0px;
        justify-content: space-around;
    }

    .about_img_div{
        text-align: center;
    }

    .about_list_line{
        display: none;
    }
    .about_line_div{
    left: 95px;
    }
    .about_list_container button.btn1,
    .about_list_container button.btn2{
    margin-left: 10px;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 0.8em;
    font-weight: 300;
    color: #F99334;
    background-color: #fff;;
    border: 1px solid #F99334;
    box-shadow: 0px 0px 3px 3px rgba(249, 147,52, .3);
    transition: all 0.3s ease-in-out;
    
}

.two{
    padding-top: 0px;
    margin-top: 100px;
}

.services_container{
    display: flex;
    justify-content: space-around;
}

.project_arrow_icons{
    display: inline;
    text-align: center;
    margin-left: 50px;
    margin-top: 0px;
}

.blog_div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
 
}

@media screen and (max-width:580px){

    .nav_links{
        position: absolute;
        right:0px;
        height: 88vh;
        width: 100vw;
        top: 12vh;
        background:rgb(77, 107, 228);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
        z-index: 10;
    }

    .nav_links li{
        opacity: 0;
    }

    .burger_menu{
        display: block;
    }

    .landingPage_images .landingPage_images__img{
        position: absolute;
        z-index: 4;
        height: 320px;
        width: auto;
        top:185px;
        left: 35%;
    }

    .landingPage_images .landingPage_images__div{
        background-color: #1F3ECE;
        height: 270px;
        width: 298px;
    }

    .landingPage_text{
        margin-right: 5px;
        position: relative;
        z-index: 6;
        top: 140px;
        text-align: left;
        padding: 12px;
    }

    .landingPage_text h1{
        color: #fff;
        margin-right: 10px;
        margin-top: 30px;
        line-height: 1.5em;
        font-size: 1.7rem;
        font-weight: 700;
        text-decoration-line: underline;
    }
    .social_media{
        width: 22%;
    }

    .landingPage_text .hireMe{
        margin-top: 20px;
    }

    .about_line_div{
        left: 54px;
        }

        .testimonials_section .testimonial_content{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }

        .testimonial_text h3{
            margin-top: 10px;
        }

        .blog_div{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        .copyright{
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .copyright ul{
            width: 130px;
        }
    
}

.nav-active{
    transform: translateX(0%);
}

@keyframes  navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
    transition: all 0.3s ease-in-out;
}

.toggle .line2{
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
    transition: all 0.3s ease-in-out;
}
